.columT{
    -fx-background-color: #ebffff;
    -fx-border-style:solid;
    -fx-border-width: 1px 0px 1px 0px;
}

#columPrecio{
    -fx-border-width: 1px 1px 1px 1px;
}

#columID{
  -fx-border-width: 1px 1px 1px 1px;  
}

#columFL{
    -fx-border-width: 1px 1px 1px 1px;  
}