/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-feb-2018, 16:37:45
    Author     : dam
*/

#panelFoto{

    -fx-alignment: center;
    -fx-opacity: 1;
    -fx-font-weight: bold;      
}

#menuDetalles{
    
    -fx-background-color: red ;
    -fx-border-color: black;
   
}
